body { background:#AAA; }
.container { /*width: 480px; padding:10px;*/max-width:480px; background:#777; }
@media (min-width: 300px) {
  :root {
    --width: 32%;
  }
}

@media (min-width: 370px) {
  :root {
    --width: 32.25%;
  }
}
@font-face{
 font-family:'lcd-font';
 src: url('LCDMono.woff2');
}

.navodak { padding: .5rem 0.25rem; }
#title { width:100%; text-align: center; }
#status { width:100%; /*margin-left: 5px; margin-right: 5px;*/ background:#888; }
.timeronoff { width:48%; }
#timerbtn { cursor: pointer; }
.timerpane { width:100%; font-size: 14px; font-weight: 500; 
	border-top: solid 2px #444; margin-top: 5px; padding-top: 10px; border-bottom: solid 2px #444; }
.timerpane label { width:70px; text-align:right; margin-left:10px; margin-right:5px; }
.timeset { width:40px; }
.timechkbox { margin-left:10px; }
.pushover { margin-left: 20px; }
.module { width:var(--width); text-align:center; background:#888; height:80px; margin:2px 2px; }
.onoff { width:35% }
.bignbold { font-size:25px; font-weight:700; }
.menubtn { width:260px; text-align: right; font-family:'lcd-font'; font-size: 20px; font-weight: 700; }
.menucfg { padding-top: 10px; }
.cfg { padding: 0.5rem 1rem; }
.log { padding: 0.5rem 1rem; height:400px; }
.log textarea {
     width: 100%;
     height:100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}
#cfgmenu { border-bottom: 1px solid #444; }
.lcdclock { text-align: right; font-family:'lcd-font'; font-size: 35px; font-weight: 700; }
.lcdvalue { font-family:'lcd-font'; font-size: 35px; font-weight: 700; }
.flow { text-align:center; font-size: 12px; }
.rside { text-align:right; }
.cancel { margin-right: 5px; background-color: #aaa; }

.mediumtxt { width:200px; }
.cfggrp { /*width:200px;*/ height:60px; float:left; }
/*.cfggrp input { width:50px; }*/
.cfggrp .input-group-append { width:80%; }
.cfggrp label { width: 100%; }
.smallgrp { width:180px; height:60px; float:left; }
.smallgrp .input-group-append { /*width:80px;*/ }
.smallgrp label { width: 100%; }
.mediumgrp { width:340px; height:60px; float:left; }
.mediumgrp .input-group-append { /*width:90px;*/ }
.mediumgrp label { width: 100%; }
.valvegrp { width:170px; height:60px; }
.valvegrp .input-group-append { /*width:80px;*/ }
.valvegrp label { width: 100%; }
#valve { width:80px; }
#rate { width:80px; }
#flow { width:40px; margin-left: 5px; }
.widegrp { width:250px; height:60px; float:left; }
.widegrp label { width: 100%; }
#sid { width:90px; }
#tid { width:90px; /*margin-right: 20px;*/ }
/*#senset {margin-left: 5px; }*/


.custom-control-input:checked~.custom-control-label::before {
  border-color: green !important;
  background-color: green !important;
  box-shadow: 0 0 0 0.2rem #07630c;
}
.custom-switch.custom-switch-xl {
  padding-bottom: 1rem;
	padding-left: 2.25rem;
	padding-right: 4rem;
	margin-top: 40px;
	margin-left: 4rem;

  & .custom-control-label {
    padding-left: 2rem;
  	/*padding-top: 0.5rem;*/
  
    &::before {
      border-radius: 1rem;
      height: 2rem;
      width: 3.5rem;
    }

    &::after {
      border-radius: 2rem;
      height: calc(2rem - 4px);
      width: calc(2rem - 4px);
    }
  }
	
	.custom-control-input:checked ~ .custom-control-label::after {
  transform: translateX(1.5rem);
	}
}

.about { color:white; }
